body {
    background-color: #fff6ee;
    font-family: "Arial", sans-serif;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    background-color: #3179ff;
    text-align: center;
    border-radius: 1em;
    color: #fff6ee;
}

#div-central {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}

nav {
	flex : 2;
    background-color: #9fdef7;
    padding-left: 0.5em;
    padding-right: 0.5em;
	margin-left: 2em;
    line-height: 2em;
}

nav > ul {
	padding-left: 2em;
}

nav a {
    color: #0000FF;
    text-decoration: underline;
}

nav a:visited {
    color: #0000FF;
    text-decoration: none;
}

main {
	flex : 10;
    background-color: #fff6ee;
    padding-left: 3em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: #6e817d;
    border-radius: 1em;
}

.fond-jaune {
	background-color: yellow;
}

.alert-error {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #ff00003d;
    border-color: #ff0000;
}

.alert-success {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #48ff004e;
    border-color: #00ff00;
}

.alert-warning {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #ffda07c8;
    border-color: #ffb300;
}

#tab_res_rech  {
    border: 1px solid black;
}

#tab_res_rech > tbody > tr > td {
    background-color: white;
    font-weight: normal !important;
}

#tab_res_rech > thead > tr > th {
    background-color: lightgrey;
}

#logo{
    float: left;
    margin-left: 5%;
}

#nouvelle_partie {
    display: flex;
    gap: 20px; /* espace entre les deux */
}

.colonne {
    width: 50%;
}

#table_parties {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: white;
}

#table_parties th,
#table_parties td {
    border: 1px solid #c9c9c9;
    padding: 0.75rem;
    text-align: left;
}

#table_parties th {
    background-color: #d9ebf2;
}

#table_parties tbody tr:nth-child(even) {
    background-color: #f7fbfd;
}
