{% extends "base.html" %}

{% block main_content %}
<h2>Ajout d'une recette</h2>

<form method="post">
	<label for="nom_recette">Nom de la recette : </label>
	<input type="text" name="nom_recette" id="nom_recette" placeholder="Tomates farcies, Gauffres..." required />
	<br/><br/>
	<label for="cat_recette">Catégorie de la recette : </label>
	<select name="cat_recette" id="cat_recette">
		<option value="Entrée">Entrée</option>
		<option value="Entrée/Apéritif">Entrée/Apéritif</option>
		<option value="Plat">Plat</option>
		<option value="Dessert">Dessert</option>
	</select>
	<input type="submit" name="bouton_valider" value="Ajouter"/>
</form>

{% include 'message.html' %}

{% endblock %}
