{% extends "base.html" %}

{% block main_content %}

    <h2>Recherche votre pseudo</h2>
    
    <form method="post">	
        <input type="text" name="recherche" id="id_valeur" placeholder="pseudo" required />
        <input type="submit" name="bouton_valider" value="Rechercher"/>
    </form>


    {% if REQUEST_VARS.resultats %}
        {% for joueur in REQUEST_VARS.resultats %}
            <form method="post" style="display:inline;">
                <input type="hidden" name="joueur_id" value="{{ joueur[0] }}">
                <input type="submit" 
                       name="choisir_joueur" 
                       value="{{ joueur[1] }}">
            </form>
        {% endfor %}
    {% else %}
        <p>Aucun résultat</p>
    {% endif %}

<h2>Ajouter un nouveau pseudo</h2>

<form method="post">
    <input type="text" name="nouveau_pseudo" placeholder="Nouveau pseudo" required />
    <input type="submit" name="ajouter_joueur" value="Ajouter"/>
</form>

{% endblock %}