{% extends "base.html" %}

{% block main_content %}
<h2>Recherche dans la base</h2>

<form method="post">	
	<label for="id_table">Rechercher dans</label>
	<select name="nom_table" id="id_table">
		<option value="recette">Recettes</option>
		<option value="ingredient">Ingrédients</option>
	</select>
	<label for="id_valeur">la valeur </label>
	<input type="text" name="valeur" id="id_valeur" placeholder="abc" required />
	<br/><br/>
	<input type="submit" name="bouton_valider" value="Rechercher"/>
</form>

{% include 'message.html' %}

{% if POST and POST.bouton_valider and REQUEST_VARS.result %}
<p> {{ REQUEST_VARS.message_info }}  </p>
	<table id="tab_res_rech">
		<thead>
			<tr>
				{% for attribut in REQUEST_VARS.schema  %}
				<th>{{ attribut }}</th> 
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for instance in REQUEST_VARS.result  %}
			<tr>
				{% for k, v in instance.items()  %}
				<th>{{ v }}</th> 
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
			
		
		
{% endif %}

{% endblock %}
